
#div1 {
    float: left;
    text-align: center;
    padding-bottom: 100%;
    width: 17%;
    margin-top: 0.4%;
    border: solid black 0.125rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    
}


#div2 {
    float: right;
    width: 81.8%;
    margin-top: 0.4%;
    border: solid black 0.125rem;
    overflow: hidden; 
    text-align: center;
}





.div3 {
    float: right;
    width: 81.8%;
    margin-top: 0.2%;
    border: solid black 0.125rem;
    display: flex;
    flex-direction: column; 
    align-items: stretch; 
    overflow: hidden;
    border-radius: 20px;
    margin-right: 0.5rem;
    
}

.div3 div {
    margin: 0.5%;
    padding: 2%;
    border: solid black 0.125rem;
    
}

.div3 .d1 {
    padding:1%;
    border:none;
}



.div3 .d1aleft {
    float: left;
    margin-top : -0.7rem;
    text-decoration: none;
    border-radius: 5px;
    color : rgb(102, 97, 97);
    padding-right:1px;
    border :none;
    margin-right:2rem;
    padding: 5px 6px;
    font-size: 1.1rem;
}

.div3 .d1aright {
    float: right;
    margin-top : -1rem;
    text-decoration: none;
    
    color : rgb(102, 97, 97);
    padding-right:1px;
    border :none;
    margin-left:1rem;
    padding: 5px 6px;
    font-size: 1.1rem;
    

}

.div3 .d1aleft:hover {
    background-color: rgb(240, 240, 240);
}

.div3 .d2 {
    margin-top:-1rem;
    background-color: rgba(191, 225, 248, 0.33);
    padding: 0.5rem;
    margin-left:0 ;
    margin-right:0 ;
    border: none;
    
}

.div3 .d2ap {
    margin-left : 11rem;
    text-decoration: none;
    color: rgb(102, 97, 97);
    font-size: 1.1rem;
    
}

.div3 .d2as {
    margin-left : 11rem;
    text-decoration: none;
    color: rgb(102, 97, 97);
    font-size: 1.1rem;
}

.div3 .d2ai {
    margin-left : 4rem;
    text-decoration: none;
    color: rgb(102, 97, 97);
    font-size: 1.1rem;
}

.div3 .d2at {
    margin-left : 9.5rem;
    text-decoration: none;
    color: rgb(102, 97, 97);
    font-size: 1.1rem;
}

.div3 .d2av {
    margin-left : 9.5rem;
    text-decoration: none;
    color: rgb(102, 97, 97);
    font-size: 1.1rem;
}




.div3 div input {
    border-radius: 50%;
    padding: 5px;
    margin: 5px;
    float: left;
}



.d1 {
    text-align: center;
}

.class2 {
    float: right;
}

.title {
    float: left;
    margin-left:1rem;
    margin-top: 0.8rem;
    margin-bottom: 0.5rem;
    text-align: center;
    font-size: 2rem;
    color: rgb(83, 80, 80);
}

.div2 a {
    position: relative;
    padding: 5px 10px; 
    display: inline-block;
    text-align: center;
    text-decoration: none; 
    color: black; 
    
    line-height: 1.5;
    
}

.class1 {
    float: right;
    margin-top: 0.9rem;
    border: 1px solid black;
    
    text-align: center;
    margin-right: 1rem;
    border-radius: 5px;
}

.no {
    text-decoration: none   ;
}

.no::after{
    text-decoration: none;
}

.icon-img {
    width:20px;
    height: 20px;
    padding-right: 0.2rem;
    padding-top: 0.2rem;
    padding-bottom: 0rem;
    
}

.div2 a::after {
    content: '';
    position: absolute;
    left: 50%; 
    bottom: 2px;
    width: 80%;
    height: 1px; 
    background-color: black;
    transform: translateX(-50%) scaleX(0); 
    transform-origin: center; 
    transition: transform 0.3s ease-in-out; 
}

.div2 a:hover::after {
    transform: translateX(-50%) scaleX(1);
}


.div3 .element {
    display: flex;
    align-items: center; 
    justify-content: flex-start;
    margin-left: 0;
    margin-right: 0;
    border-left: none;
    border-right: none;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-color: rgb(148, 139, 139);
    margin-bottom: 0rem;
    
}


.menu-checkbox {
    width: 20px;  
    height: 20px;  
    border-radius: 50%; 
    border: 2px solid black;  
    background-color: white;  
    cursor: pointer;
}


.element-image {
    width: 45px;
    height: 45px;
    margin-left :1rem;
    
    
}


.element span {
    display: inline-block;
    overflow: hidden; 
    white-space: wrap; 
    padding: 0.5rem; 
}


.pname {
    max-width:240px;
    flex: 1;
    margin-left: 4rem;
}

.astatus {
    max-width: 133px;
    margin-right:5rem;
    flex: 0 1 auto;
    background-color: rgba(161, 225, 161, 0.834);
    border-radius: 5px;
    padding: 2px 2px;
}

.nstatus {
    max-width: 133px;
    margin-right:3.5rem;
    flex: 0 1 auto;
    background-color: rgba(225, 161, 161, 0.834);
    border-radius: 5px;
    padding: 2px 2px;
}





.inventory {
    max-width:210px;
    flex: 1;
}

.type {
    max-width: 200px;
    flex: 1;
}

.vendor {
    max-width: 110px;
    flex: 1;
}


/* Responsive adjustments */
@media (max-width: 768px) {
    #div1, #div2, #div3 {
        float: none;
        width: 100%;
    }

    .class0, .class1 {
        margin: 0.5rem; 
        display: block; 
    }
}

#div1 a {
    border:solid black 0.125rem;
    padding : 1rem;
    margin:2rem;
    width:12rem;
    display: flex;
    flex-direction: column;
   
}

 #div1 a img {

    width:1rem;
    height: 1rem;
} 