<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Responsive Layout</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/deal3.css') }}">
</head>
<body>
    <div class="large-container4">
        <div class="image-section4">
            <img class ="img4"src="{{ url_for('static', filename='images/deal12.png') }}">
        </div>
        <div class="text-section4">
            <h2 class="title4">Mexico Mexico!</h2>
            <p class="description4">Sales on Mexican Food till 8/20 </p>
            <a href="#" class="link4">Learn More  &#10140;</a>
        </div>
    </div>
    <script src='main.js'></script>
</body>
</html>
