<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel = "stylesheet" href="{{ url_for('static', filename='../static/css/homepage.css')}}"> 
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IM+Fell+French+Canon+SC&family=IM+Fell+Great+Primer+SC&display=swap" rel="stylesheet">
</head>
<body>
    <div class="background-container">
        <img src="{{ url_for('static', filename='/images/homeplate1.png') }}" alt="" class="background-image">

    </div>
    <header>
        {% include 'header.html' %} 
    </header>

    <div class="larger-container">
        <div class="content-container">
            <div class="slideshow">
                <img src="{{ url_for('static', filename='/images/deal3.jpg') }}" alt="Image 1" class="slide">
                <img src="{{ url_for('static', filename='/images/deal4.png') }}" class="slide">
                <img src="{{ url_for('static', filename='/images/deal5.png') }}" alt="Image 3" class="slide">
            </div>
            <div class="content">
                <h1 class="content-title">The best</h1>
                <h1 class="content-title">Products</h1>
                <p class="content-description">that meets your needs</p>
            </div>
            
        </div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', () => {
    const slides = document.querySelectorAll('.slide');
    let currentSlide = 0;

    function showSlide(index) {
        slides.forEach((slide, i) => {
            slide.classList.remove('active');
            if (i === index) {
                slide.classList.add('active');
            }
        });
    }

    function nextSlide() {
        currentSlide = (currentSlide + 1) % slides.length;
        showSlide(currentSlide);
    }

    // Initial slide
    showSlide(currentSlide);

    // Auto change slide every 3 seconds
    setInterval(nextSlide, 2000);
});


    </script>
    
    
    <div class="circle-container">
        <div class="circle"><img src = "{{ url_for('static', filename='/images/alraya.png') }}" alt="" class="background-image"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"><img src = "{{ url_for('static', filename='/images/kherzaman.jpg') }}" alt="" class="background-image"></div>
        <div class="circle"><img src = "{{ url_for('static', filename='/images/seoudi.jpeg') }}" alt="" class="background-image"></div>
        <div class="circle"><img src = "{{ url_for('static', filename='/images/walmart.png') }}" alt="" class="background-image"></div>
        <div class="circle"><img src = "{{ url_for('static', filename='/images/Bim.png') }}" alt="" class="background-image"></div>
    </div>
    

    

    
    
     
    
    
</body>
</html>