<!----Ctrl + Space for HTML Skeleton--->

<!DOCTYPE html>
<html lang="en">
<head>
    
    <link rel = "stylesheet" href="{{ url_for('static', filename='../static/css/header.css') }}"> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>

</head>

<body>
    
    <nav class = "navigation">

        <ul class = "menu">

            <li><a class="logo">
                <span class = "logo-market">Market</span>     
                <span class = "logo-mate">Mate</span>
                </a>
            </li>
            <li><a  class = "active">Home </a></li>
            <li><a >About</a></li>
            <li><a >Contact</a></li>
            <li><a >Services</a></li>
            <li><a >Login</a></li>
            <li><a >Register</a></li>
            
        </ul>

        <div class = "right-nav">
            <a class = "pp">

                <img src = "https://media.istockphoto.com/id/1300845620/vector/user-icon-flat-isolated-on-white-background-user-symbol-vector-illustration.jpg?s=612x612&w=0&k=20&c=yBeyba0hUkh14_jgv1OKqIH0CCSWU_4ckRkAoy2p73o=" alt="profile">
            </a>
        </div>



    </nav>
    








</body>
</html>