<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Edit Store</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/modifycategory.css') }}">
    <script src='main.js'></script>
</head>
<body>
    
    <header>
        {% include 'header.html' %}
    </header>
    
    <div class="main-container">
        <div class="sidebar">
            <label for="category-dropdown">Categories</label>
            <select id="category-dropdown">
                <option value="category1">Category 1</option>
                <option value="category2">Category 2</option>
                <option value="category3">Category 3</option>
                <!-- Add more categories as needed -->
            </select>
        </div>
        
        
        
        
    </div>
    
    

</body>
</html>
